@import '../../root';

.before{
    padding: 100px 0;
    text-align: center;
    &__title{
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__desc{
        margin-bottom: 30px;
    }
    &__col{
        background-color: #f9fafb;
        padding: 60px 60px 50px 60px;
        &--img{
            width: 160px;
            height: 160px;
            margin-bottom: 30px;
        }
        &-title{
            margin-bottom: 15px;
            font-weight: 500;
        }
    }
}