$color-black : #222222;
$color-dark : #f6f6f6;
$color-oranger  : #fa5805;
$width-content-header : 750px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@mixin flexBox($jus : space-between , $aline : center , $wrap : nowrap) {
    display: flex;
    justify-content: $jus;
    align-items: $aline;
    flex-wrap: $wrap;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p{
    margin: 0;
}
button+button{
    margin-left: 8px;
}
.btn-oranger{
    background-color: $color-oranger !important;
    color: white;    
}
.btn-transparent{
    background-color: transparent !important;
    color: white !important;
    border: 1px solid !important;
    border-radius: 5px !important;
}
.tb-black{
    color: black !important;
    font-weight: 550 !important;
}
.t-green{
    color: green;
}
.t-grow{
    color: #7e4a00;
}
.t-yellow{
    color: #fffc9a;
}
.t-blue{
    color: #1f41bd;
}
.btn-white{
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
}
.btn-black{
    background-color: #3b3b3b;;
    color: white;
    padding: 15px 60px;
    &:hover{
        color: white;
    }
}
.t-oranger{
    color: $color-oranger !important;
}
.t-black{
    color: $color-black !important;
}

@import './tablet.scss';
@import './mobile.scss';